<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset
		name="manuals"
		label="COM_JDOCMANUAL_CONFIG_MANUALS"
		description="COM_JDOCMANUAL_CONFIG_MANUALS_DESC"
		>

		<field
			name="manual1_name"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL1_NAME_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL1_NAME_DESC"
			default="Joomla 3"
			required="required"
		/>

		<field
			name="manual1_url"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL1_URL_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL1_URL_DESC"
			default="https://docs.joomla.org/J3.x:Doc_Pages"
			required="required"
		/>

		<field
			name="manual2_name"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL2_NAME_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL2_NAME_DESC"
			default="Joomla 4"
		/>

		<field
			name="manual2_url"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL2_URL_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL2_URL_DESC"
			default="https://docs.joomla.org/J4.x:Doc_Pages"
		/>

		<field
			name="manual3_name"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL3_NAME_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL1_NAME_DESC"
		/>

		<field
			name="manual3_url"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_MANUAL3_URL_LABEL"
			description="COM_JDOCMANUAL_CONFIG_MANUAL3_URL_DESC"
		/>
		
		<field
			name="default_manual"
			type="list"
			label="COM_JDOCMANUAL_CONFIG_DEFAULT_MANUAL_LABEL"
			description="COM_JDOCMANUAL_CONFIG_DEFAULT_MANUAL_DESC"
			default="1"
			required="required"
			>
			<option>JSELECT</option>
			<option value="1">COM_JDOCMANUAL_CONFIG_MANUAL_DEFAULT_OPTION_1</option>
			<option value="2">COM_JDOCMANUAL_CONFIG_MANUAL_DEFAULT_OPTION_2</option>
			<option value="3">COM_JDOCMANUAL_CONFIG_MANUAL_DEFAULT_OPTION_3</option>
		</field>
		
		<field
			name="languages"
			type="text"
			label="COM_JDOCMANUAL_CONFIG_DEFAULT_LANGUAGE_LABEL"
			description="COM_JDOCMANUAL_CONFIG_DEFAULT_LANGUAGE_DESC"
			default="en"
			required="required"
		/>
		
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_ffmedia"
			section="component"
		 />
	</fieldset>
</config>
